![rmotr](https://i.imgur.com/jiPp4hj.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrames additional exercises
![separator2](https://i.imgur.com/4gX5WFr.png)

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

0.22.0

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames creation

In [2]:
# Create an empty pandas DataFrame

# Your code goes here

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

In [3]:
# Create a marvel_df pandas DataFrame with the given marvel data
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

# Your code goes here

In [4]:
# Add column names to the marvel_df
col_names = ['name', 'sex', 'first_appearance']

# Your code goes here

In [5]:
# Add index names to the marvel_df (use the character name as index)

# Your code goes here

In [6]:
# Drop the name column as it's now the index

# Your code goes here

In [7]:
# Drop 'Namor' and 'Hank Pym' rows

# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames selection, slicing and indexation

In [8]:
# Show the first 5 elements on marvel_df

# Your code goes here

In [9]:
# Show the last 5 elements on marvel_df

# Your code goes here

In [10]:
# Show just the sex of the first 5 elements on marvel_df

# Your code goes here

In [11]:
# Show the first_appearance of all middle elements on marvel_df

# Your code goes here

In [12]:
# Show the first and last elements on marvel_df

# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames manipulation and operations

In [13]:
# Modify the first_appearance of 'Vision' to year 1964

# Your code goes here

In [14]:
# Add a new column to marvel_df called 'years_since' with the years since first_appearance

# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames boolean arrays (also called masks)

In [15]:
# Given the marvel_df pandas DataFrame, make a mask showing the female characters

# Your code goes here

In [16]:
# Given the marvel_df pandas DataFrame, get the male characters

# Your code goes here

In [17]:
# Given the marvel_df pandas DataFrame, get the characters with first_appearance after 1970

# Your code goes here

In [18]:
# Given the marvel_df pandas DataFrame, get the female characters with first_appearance after 1970

# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames summary statistics

In [19]:
# Show basic statistics of marvel_df

# Your code goes here

In [20]:
# Given the marvel_df pandas DataFrame, show the mean value of first_appearance

# Your code goes here

In [21]:
# Given the marvel_df pandas DataFrame, show the min value of first_appearance

# Your code goes here

In [22]:
# Given the marvel_df pandas DataFrame, get the characters with the min value of first_appearance

# Your code goes here

![separator1](https://i.imgur.com/ZUWYTii.png)

## DataFrames basic plottings

In [23]:
# Reset the index names

# Your code goes here

In [24]:
# Plot the values of first_appearance

# Your code goes here

In [25]:
# Plot a histogram (plot.hist) with values of first_appearance

# Your code goes here

![separator2](https://i.imgur.com/4gX5WFr.png)